@import "../../../styles/breakpoint";

.main {
  width: 100%;
  padding-block: 70px;
  position: relative;
  &:dir(rtl) {
    &::after {
      transform: scaleX(-1);
    }
  }
  &::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-image: url("/home/choose-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  max-width: 1290px;
  margin-inline: auto;
  gap: 54px;
  padding: 16px;
  position: relative;
  z-index: 2;
  @include lg {
    padding: 0px;
    flex-direction: row;
  }
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  @include lg {
    height: 716px;
    width: 503px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  h1 {
    font-size: 3rem;
    line-height: calc(3rem * 1.2);
    font-weight: 700;
    @include lg {
      font-size: 4rem;
      line-height: 4.8rem;
    }
  }
  p {
    font-size: 1rem;
    line-height: calc(1rem * 1.5);
    @include lg {
      font-size: 1.25rem;
      line-height: 2rem;
    }
    font-weight: 400;
    color: var(--text-secondary);
    max-width: 610px;
  }

  &_box {
    display: flex;
    align-items: center;
    p {
      font-size: 0.875rem;
      line-height: 1.0588rem;
      background: #e8e8e880;
      font-weight: 600;
      width: 125px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--dark);
    }
  }
  &_line {
    width: 4px;
    height: 23px;
    background: var(--primary-gradient);
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(48px / 2);
  @include lg {
    gap: 48px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 16px;
  &_icon {
    height: 56px;
    width: 56px;
    min-width: 56px;
    border-radius: 999px;
    background: var(--primary-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: contain;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--dark);
    @include lg {
      font-size: 1.5rem;
      line-height: 1.8156rem;
    }
  }
}
